$bg-primary-color: rgb(240, 246, 255);
$bg-secondary-color: rgb(255, 255, 255);
$bg-tertiary-color: rgba(255, 255, 255, 0);
$bg-active-color: hsl(228, 100%, 84%);

$font-primary-color: rgb(255, 255, 255);
$font-secondary-color: rgb(0, 0, 0);

$a: hsl(213, 96%, 18%);
$b: hsl(243, 100%, 62%);
$e: hsl(228, 100%, 84%);
$i: hsl(206, 94%, 87%);
$l: hsl(354, 84%, 57%);
$e: hsl(231, 11%, 63%);
$q: hsl(229, 24%, 87%);
$f: hsl(217, 100%, 97%);
$k: hsl(231, 100%, 99%);
$t: hsl(0, 0%, 100%);