$bg-primary-color: rgb(240, 246, 255);
$bg-secondary-color: rgb(255, 255, 255);
$bg-tertiary-color: rgba(255, 255, 255, 0);
$bg-modality-color: hsl(217, 100%, 97%);
$bg-active-color: rgb(173, 190, 255);
$bg-button-color: hsl(213, 96%, 18%);

$font-primary-color: rgb(255, 255, 255);
$font-secondary-color: rgb(0, 0, 0);
$font-tertiary-color: hsl(213, 96%, 18%);