@import '../../styles/variables.scss';

#root {
    background: $bg-primary-color;
    background-image: url('../../assets/images/bg-sidebar-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (min-width: 1024px) {
        background: $bg-primary-color;
    }

    .row-custom {

        @media screen and (min-width: 1024px) {
            background: $bg-secondary-color;
            border-radius: 15px;
            height: 100%;
        }
    }

    footer {
        background: $bg-secondary-color;
    }
}