@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import './styles/variables.scss';

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: $bg-primary-color;

    span {
        font-size: 14px;
    }
}

.font-primary-color {
    color: hsl(231, 11%, 63%);
}

.font-secondary-color {
    color: hsl(228, 100%, 84%);
}

.font-tertiary-color {
    color: hsl(213, 96%, 18%);
}

.bg-button-color {
    background: hsl(213, 96%, 18%);
}

.bg-modality-color {
    background: hsl(217, 100%, 97%);
}

.font-small {
    font-size: 12px;
}

.font-medium {
    font-size: 14px;
}